        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
           
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                 
                        <li>
                            <a routerLink="./addcat">
                                <i class="fas fa-chart-bar"></i>Add Category</a>
                        </li>
                        <li>
                            <a routerLink="./cat">
                                <i class="fas fa-table"></i>Category</a>
                        </li>
                       
               
                    </ul>
                </nav>
            </div>
        